<launch>
    <arg name="room" default="1" />
    <arg name="slope_th" default="5.0" />
    <arg name="map_file" default="$(find homewhere)/map/7hd/7hd_1/map.yaml" />
    <arg name="initial_pose_x" default="0" />
    <arg name="initial_pose_y" default="0" />
    <arg name="initial_pose_a" default="0" />

    <!-- ────────────────────  Load Map ───────────────────────────── -->

    <include file="$(find homewhere)/launch/load_map.launch">
        <arg name="map_file" value="$(arg map_file)" />
        <arg name="initial_pose_x" value="$(arg initial_pose_x)" />
        <arg name="initial_pose_y" value="$(arg initial_pose_y)" />
        <arg name="initial_pose_a" value="$(arg initial_pose_a)" />
    </include>

    <!-- ─────────  Multi-level navigation manager  ───────────────── -->
    <node pkg="homewhere" type="multilevel_nav_manager.py"
        name="multilevel_nav_manager" output="screen">

        <param name="room" value="$(arg room)" />
        <param name="ramp_config" value="$(find homewhere)/config/ramps.yaml" />
        <param name="map_table_config" value="$(find homewhere)/config/map_table.yaml" />
        <rosparam file="$(find homewhere)/config/map_table.yaml"
            command="load" />
    </node>

    <!-- ──────────────────────  Rviz ─────────────────────────────── -->
    <node pkg="rviz" type="rviz" name="rviz" required="true"
        args="-d $(find homewhere)/rviz/navigation.rviz" />

</launch>
  