<launch>
    <!-- Arguments -->
    <arg name="map_file" default="$(find homewhere)/map/turtle/map.yaml" />
    <!-- <arg name="move_forward_only" default="true" /> -->

    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />

    <!-- AMCL -->
    <include file="$(find homewhere)/launch/amcl.launch" />

    <!-- move_base -->
    <include file="$(find homewhere)/launch/move_base.launch" />

    <!-- RViz -->
    <node pkg="rviz" type="rviz" name="rviz" required="true"
        args="-d $(find homewhere)/rviz/navigation.rviz" />
</launch>