<?xml version="1.0"?>

<model>
  <name>Building 3</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>John China</name>
    <email>johnchina@wwe.org</email>
  </author>

  <description>
    A building within Chulalongkorn Engineering faculty.
  </description>
</model>
